@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p><a asp-controller="Subject" asp-action="Index">Subject</a></p>
    
    <p><a asp-controller="Basket" asp-action="Index">Nákupní košík</a></p>
</div>
