@model firstMVC.Models.BasketModel

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>BasketModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Produkt" class="control-label"></label>
               @Html.DropDownListFor(m => m.Produkt, new SelectList(ViewBag.productList, "Value", "Value"), "--Produkt--",new {@class="form-control" })
            </div>
            <div class="form-group">
                <label asp-for="Ks" class="control-label"></label>
                <input asp-for="Ks" class="form-control" />
                <span asp-validation-for="Ks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Přidat" class="btn btn-primary" />
            </div>
        </form>

            <div class="form-group">
                <label asp-for="CenaKs" class="control-label"></label>
            </div>
            <div class="form-group">
                <label asp-for="CenaCelkem" class="control-label"></label>
            </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>


    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


