@model firstMVC.Models.BasketModel

@{
    ViewData["Title"] = "Delete";
}

<h1>DELETE</h1>

<h2>Are you sure you want to delete <strong>@Html.DisplayFor(model => model.Produkt)</strong>?</h2>
<div>
    <hr />
    <form asp-action="Delete" method="post">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
