@model firstMVC.Models.BasketModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Změna množství zboží</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Produkt" class="control-label"></label>
                <strong class="text-success">@Html.DisplayFor(model => model.Produkt)</strong>
            </div>
            <div class="form-group">
                <label asp-for="Ks" class="control-label"></label>
                <input asp-for="Ks" class="form-control" />
                <span asp-validation-for="Ks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CenaKs" class="control-label"></label>
                <strong class="text-success">@Html.DisplayFor(model => model.CenaKs) Kč</strong>
            </div>
            <div class="form-group">
                <label asp-for="CenaCelkem" class="control-label"></label>
            </div>
            <div class="form-group">
                <input type="submit" value="Změnit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
